* {
    box-sizing: border-box;
    margin: 0;
}

   /* HEADER */

.header {
    height: 10px;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.container-fluid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img { 
    padding: 10px 10px;
}

.justify-content-center {
    margin: 0 auto;
    padding: 0 50px;
    align-items: center;
}

.color {
    color: red;
}

.padding {
    padding: 0 10px;
    margin: 0 auto;
    text-decoration: none;
    color: #10242b;
}

.media {
    padding: 0 10px;
    align-items: center;
}

.phone {
    font-size: 13px;
    color: rgb(113, 131, 137);
    padding: 0 10px;
}

.nomber {
    font-weight: bolder;
    padding: 0 10px;
}

   /* BLOCK */

.container-fluid_1 {
    background-color: rgb(155, 159, 160);
    height: 200px;
    margin: 40px auto;
    padding: 0 135px;
}

.padding1 {
    padding: 69px 0;
}

.center {
    display: flex;
    align-items: center;
}

.text {
    color: white;
    font-size: 38px;

}

.size {
    margin-left: 24px;
    font-size: 24px;
    color: white;
}

.size1 {
    color: white;
    font-size: 24px;
}